* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.nav-color
{
	background: #FD7272;
	color: white;
}
.title-color
{
	background:  rgb(0, 128, 255);
}
.internal-container
{
	border: 10px solid black;
	
}
